<input type="text" [(ngModel)]="contatto.nome">nome
<br>
<input type="text" [(ngModel)]="contatto.cognome">cognome
<br>
<input type="text" [(ngModel)]="contatto.telefono">telefono

<button (click)="rubricaAgg()">inserisci</button>
<button (click)="rubricaLista()">lista</button>
<button (click)="rubricaSvuota()">svuota</button>


<table *ngIf="rubrica.length > 0">
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>cognome</th>
        <th>prezzo</th>
        <th>modifica</th>
    </tr>
    <tr *ngFor="let x of rubrica, index as i ">
        <td>{{x.id}}</td>
        <td>{{x.nome}}</td>
        <td>{{x.cognome}}</td>
        <td>{{x.telefono}}</td>
        <td> <button (click)="elimina(i)">elimina</button></td>
    </tr>
</table>