<h1>Rubrica Telefonica</h1>
<input type="text" placeholder="Nome" [(ngModel)]="contatto.nome">
<input type="text" placeholder="Cognome" [(ngModel)]="contatto.cognome">
<input type="text" placeholder="Telefono" [(ngModel)]="contatto.telefono">

<button (click)="rubricaAgg()">Aggiungi Contatto</button>
<button (click)="rubricaLista()">Mostra Lista Contatti</button>
<button (click)="rubricaSvuota()">Svuota Lista Contatti</button>

<br>
<br>
<hr>
<table *ngIf="rubrica.length > 0 and stato==''" id="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Telefono</th>
        <th>Modifica</th>
    </tr>
    <tr *ngFor="let x of rubrica, index as i ">
        <td>{{x.id}}</td>
        <td>{{x.nome}}</td>
        <td>{{x.cognome}}</td>
        <td>{{x.telefono}}</td>
        <td> <button (click)="eliminaPerId(i)">Elimina</button></td>
    </tr>
</table>

<h3 *ngIf="stato=='errore'">{{error}}</h3>