<!-- <div *ngIf="stato=='' && stato2=='prova'"> -->
    Nome
    <input type="text" [(ngModel)]="nome">
    Cognome
    <input type="text" [(ngModel)]="cognome">
    Telefono
    <input type="text" [(ngModel)]="telefono">
    <button (click)="inserisci()">Inserisci</button>
    <table *ngIf="contatti.length >0 && stato==''" id="tab">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Telefono</th>
        </tr>
        <tr *ngFor="let x of contatti">
            <td>{{x.ID}}</td>
            <td>{{x.nome}}</td>
            <td>{{x.cognome}}</td>
            <td>{{x.telefono}}</td>
        </tr>
    </table>
    <button (click)="svuota()">Svuota</button>
    <button (click)="ritorna()" *ngIf="stato2=='prova'">Lista</button>
    <table *ngIf="contatti.length >0 && stato=='lista'" id="tab">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Telefono</th>
        </tr>
        <tr *ngFor="let x of contatti">
            <td>{{x.ID}}</td>
            <td>{{x.nome}}</td>
            <td>{{x.cognome}}</td>
            <td>{{x.telefono}}</td>
        </tr>
        <button (click)="oscuraLista()">X</button>
    </table>
<!-- </div> -->
<!-- <button (click)="cancellaID()">Cancella contatto per ID</button>
<input type="text" [(ngModel)]="ID" *ngIf="stato=='cancellazione'">
<button (click)="indietro()" *ngIf="stato=='cancellazione'">Indietro</button> -->