Nome
<input type="text" [(ngModel)]="nome">
Cognome
<input type="text" [(ngModel)]="cognome">
Telefono
<input type="text" [(ngModel)]="telefono">
<button (click)="inserisci()">Inserisci</button>
<table *ngIf="contatti.length >0" id="tab">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Telefono</th>
    </tr>
    <tr *ngFor="let x of contatti">
        <td>{{x.ID}}</td>
        <td>{{x.nome}}</td>
        <td>{{x.cognome}}</td>
        <td>{{x.telefono}}</td>
    </tr>
</table>